@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
    font-family: "Roboto", sans-serif;
}
.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}
.main__button {
    padding: 12px 48px;
    background-color: #4e47ff;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    opacity: 1;
    transition: all 200ms ease-in-out;
    min-width: 215px;
    &:hover {
        opacity: 0.8;
    }
}

.main__button-outline {
    padding: 12px 48px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: #4e47ff;
    border: 1px solid #4e47ff;
    border-radius: 8px;
    text-decoration: none;
    opacity: 1;
    transition: all 200ms ease-in-out;
    min-width: 215px;
    &:hover {
        background-color: #4e47ff;
        color: #fff;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 0;
    &__logo {
        img {
            opacity: 1;
            transition: all 200ms ease-in-out;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    &__links {
        ul {
            display: flex;
            gap: 12px;
            justify-content: space-between;
            li {
                list-style: none;
                display: flex;
                align-items: center;
                a {
                    text-decoration: none;
                    color: #333333;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0%;
                    padding-bottom: 7px;
                    transition: all 200ms ease-in-out;
                    border-bottom: 2px solid transparent;
                    display: flex;
                    align-items: center;
                    &:hover {
                        border-bottom: 2px solid #333;
                    }
                }
            }
        }
    }
}
main {
    background-color: #f9f9f9;
    min-height: 100vh;
    padding: 50px 0;
}
.aside {
    background: #ffffff;
    box-shadow: 0px 12px 30px 0px #0f172a14;
    border-radius: 16px;
    max-width: 224px;
    width: 300px;
    height: 634px;
    &__header {
        display: flex;
        gap: 12px;
        align-items: center;
        border-bottom: 1px solid #e2e5f0;
        padding: 12px 25px;
        margin: 0 auto;
        h5 {
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #6b7280;
        }
    }
    &__main {
        padding: 0px 0px;
        ul {
            display: flex;
            gap: 5px;
            flex-direction: column;
            padding: 0px;
            width: inherit;
            li {
                list-style: none;
                width: inherit;
                a {
                    text-decoration: none;
                    color: #1f2430;
                    font-size: 13.6px;
                    padding: 12px 25px;
                    max-width: inherit;
                    background: transparent;
                    display: flex;
                    border-top-right-radius: 999px;
                    border-bottom-right-radius: 999px;
                    transition: all 200ms ease-in-out;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    &:hover {
                        background: #e5edff !important;
                        color: #4169e1 !important;
                        svg {
                            path {
                                fill: #4169e1 !important;
                            }
                        }
                    }
                }
            }
        }
    }
    &__link-active {
        background: #e5edff !important;
        color: #4169e1 !important;
    }
    &__footer {
        max-width: 224px;
        padding: 10px 0;
        border-top: 1px solid #e2e5f0;

        a {
            text-decoration: none;
            color: #1f2430;
            font-size: 13.6px;
            padding: 12px 25px;
            max-width: inherit;
            background: transparent;
            display: flex;
            border-top-right-radius: 999px;
            border-bottom-right-radius: 999px;
            transition: all 200ms ease-in-out;
            &:hover {
                background: #e5edff !important;
                color: #4169e1 !important;
            }
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 85%;
    }
}
.main {
    &__wrapper-content {
        display: flex;
        gap: 10px;
    }
    &__wrapper {
    }
}
.body__container {
    background: #ffffff;
    padding: 12px 25px;
    border-radius: 16px;
    width: 100%;
    max-height: 457px;
    box-shadow: 0px 12px 30px 0px #0f172a14;
}

.body__container-block {
    display: flex;
    flex-direction: column;
    p {
        font-size: 12.7px;
        font-weight: 400;
        line-height: 100%;
    }
    input {
        padding: 10px 12px;
        border-radius: 8px;
        border: 1px solid #c4c9e0;
        outline: 0px none;
        font-size: 14px;
        font-family: "Arial", sans-serif;
    }
}
.body__container-button-wrapper {
    margin: 22px 0;
}
.body__container-button {
    padding: 11px 15px;
    border-radius: 999px;
    outline: 0px none;
    border: 0px none;
    cursor: pointer;
    font-size: 13.9px;
    line-height: 100%;
    font-weight: 400;
    transition: all 200ms ease-in-out;
    &:hover {
        opacity: 0.5;
    }
}
.save__btn {
    background-color: #4169e1;
    color: #fff;
    opacity: 1;
}
.save__btn-outline {
    border: 1px solid #e2e5f0;
    background: transparent;
    margin-left: 5px;
}

footer {
    padding: 50px 0;
    background-color: #fff;
}
.footer__container {
    display: flex;
    justify-content: space-between;
}
.footer__container-block,
.footer__container-block-wrapper-item {
    h5 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: Bold;
        font-size: 18px;
        line-height: 21.6px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #0b0b0b;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 0;
        max-width: 200px;
        li {
            list-style: none;
            a {
                color: #0b0b0b;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 15.6px;
                line-height: 19.2px;
                letter-spacing: 0%;
                text-decoration: none;
                max-width: 200px;
                border-bottom: 2px solid transparent;
                transition: all 200ms ease-in-out;
                &:hover {
                    border-bottom: 2px solid #0b0b0b;
                }
            }
        }
    }
}
.footer__container-block-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .main__button-outline {
        margin-top: 20px;
        cursor: pointer;
    }
}

.footer__container-bottom {
    display: flex;
    width: 100%;
    justify-content: right;
    margin-top: 50px;
    p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: Regular;
        font-size: 15.8px;
        line-height: 19.2px;
        letter-spacing: 0%;
        color: #858585;
        max-width: 300px;
    }
}
.objects {
    &__container-block {
        max-width: 216px;
        width: 216px;
        max-height: 166px;
        background-color: #4b5563;
        border-radius: 12px;
        padding: 8px;
    }
    &__container {
        p {
            color: #9ca3af;
            font-family: "Inter", sans-serif;
            font-size: 12px;
        }
    }
    &__content-head {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__content-floor {
        background: #000000a6;
        color: #fff;
        padding: 8px 16px;
        border-radius: 999px;
        border: 0px none;
        outline: 0px none;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
    }
    &__content-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-style: Regular;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #fff;
            text-shadow: 0px 1px 2px 0px #00000080;
            background: transparent;
        }
    }
    &__footer-like {
        background: transparent;
        border: 0px none;
        outline: 0px none;
        cursor: pointer;
        opacity: 1;
        transition: all 200ms ease-in-out;
        &:hover {
            opacity: 0.7;
        }
    }
    &__container-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 166px;
    }
    &__container-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    &__container-block-loft {
        background: #6b7280;
    }
    &__container-block-scandi {
        background: #374151;
    }
    &__container-block-minimal {
        background: #111827;
    }
}
.body__container-objects {
    max-height: 300px;
}
.main__btn-outline {
    padding: 11px 15px;
    border-radius: 999px;
    outline: 0px none;
    border: 0px none;
    cursor: pointer;
    font-size: 13.9px;
    line-height: 100%;
    font-weight: 400;
    transition: all 200ms ease-in-out;
    font-family: "Roboto", sans-serif;
    color: #2856ff;
    border: 1px solid #2856ff;
    background-color: #e5edff;
}
.main__btn-outline-nonactive {
    color: #6b7280;
    border: 1px solid #e2e5f0;
    background: transparent;
    margin-left: 5px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    &:hover {
        color: #2856ff;
        border: 1px solid #2856ff;
        background-color: #e5edff;
    }
}
.body__container-seller {
    max-height: 100%;
    height: 100%;
}
.body__container-main-btn {
    padding: 11px 15px;
    border-radius: 999px;
    outline: 0px none;
    border: 0px none;
    cursor: pointer;
    font-size: 13.9px;
    line-height: 100%;
    font-weight: 400;
    transition: all 200ms ease-in-out;
    background: #2856ff;
    color: #fff;
}

.body__container-block-form {
    display: flex;
    justify-content: space-between;
    max-width: 558px;
    background-color: #f6f8ff;
    border: 1px solid #e0e6ff;
    border-radius: 12px;
    padding: 20px;
    p {
        color: #a0a4b8;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
    }
}

.body__container-seller-wrapper {
    .body__container-block {
        margin: 12px 0;
    }
    .save__btn {
        background-color: #2856ff;
    }
}
.main__wrapper-filter-btn,
.main__wrapper-btn-filter-item {
    padding: 11px 20px;
    background-color: #f9faff;
    border: 1px solid #4e47ff33;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    &:hover {
        border: 1px solid #4e47ff;
    }
}

.main__wrapper-btn-wrapper {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
.main__wrapper-body {
    column-count: auto;
    column-width: 285px;
    column-gap: 20px;
    margin: 20px auto;
}
.main__wrapper-body-item {
    width: 100%;
    max-width: 285px;
    height: auto;
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    margin-bottom: 20px;
    page-break-inside: avoid;
    box-sizing: border-box;
}
.main__wrapper-body-item-img {
    width: 100%;
    height: 250px;
    background-color: #1f243017;
    border-radius: 20px;
    object-fit: cover;
    flex-shrink: 0;
}
.main__wrapper-body-item-intro h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #2a2a2a;
    margin-left: 5px;
}
.main__wrapper-body-link {
    width: 100%;
    display: flex;
    justify-content: center;
}
.main__wrapper-body-link-add {
    font-family: "Roboto";
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: #000000;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid #000;
    transition: all 200ms ease-in-out;
    opacity: 1;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}
.main__wrapper-filter-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 10px 0;
}
.main___wrapper-body-item-xl {
    height: 400px !important;
    min-height: 400px;
}
.main__wrapper-body-item-xxl {
    height: 201px !important;
    min-height: 201px;
}
.main__wrapper-body-item-intro {
    display: flex;
    align-items: flex-start;
    padding-top: 12px;
    min-height: auto;
}
